@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  @font-face {
    font-family: "Schibsted Grotesk";
    src: url("fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.woff2") format("woff2"),
         url("fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Schibsted Grotesk";
    src: url("fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.woff2") format("woff2"),
         url("fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
}
html {
  scroll-behavior: smooth;
}
 
body {
  font-weight: 400;
}


.container {
  overflow: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none; 
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 0.75s ease-in forwards;
}


