@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "nerko_oneregular";
    src: url("fonts/nerkoone-regular-webfont.woff2") format("woff2"),
         url("fonts/nerkoone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Schibsted Grotesk";
    src: url("fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.woff2") format("woff2"),
         url("fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Schibsted Grotesk";
    src: url("fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.woff2") format("woff2"),
         url("fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  /* @font-face {
    font-family: "Schibsted Grotesk";
    src: url("fonts/SchibstedGrotesk/SchibstedGrotesk-Medium.woff2") format("woff2"),
         url("fonts/SchibstedGrotesk/SchibstedGrotesk-Medium.woff") format("woff");
    font-weight: medium;
    font-style: normal;
  } */
}

body {
  font-weight: 400;
}


.container {
  overflow: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none; 
}


